<!DOCTYPE html>
<html>
  <head>
    <title>Sentinel</title>
    <%= favicon %>
    <%= javascript 'jquery' %>
    <%= javascript 'bootstrap' %>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'enlarge-pic' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
